@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Rubik+Beastly&display=swap');
 /* width */
 ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 3px 5px 5px 0;
  background:  red;
border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:red; 
}

body {
  --bs-body-bg: rgba(132, 130, 130, 0.46);
  background-color: var(--bs-body-bg);
}

/* border center */
.b-r-10{ 
  margin-top:2rem;
  height: 439px;
  border: 2px solid red;
  border-radius: 10px;
}

/* B-Drop */
.m-t-3 {
  color: red;
  font-family: Rubik Beastly;
  font-size: xx-large;
  position: relative;
}
.m-t-3:hover {
  letter-spacing: 2px;
}

/* img blood */
.img {
  position: relative;
  top: -6px;
  left: 9px;
}

/* home */
.nav-link {
  font-family: Libre Bodoni;
}
.nav-link:hover {
  letter-spacing: 2px;
  transition: 1s;
  text-decoration: red solid underline;
}

/* border nav */
.navbar {
  border-bottom: 4px solid red;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container {
  padding-top: 40px;
}
/* 
.card {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* .card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 20px;
} */

.notifications-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.notification {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.notification:last-child {
  border-bottom: none;
}

/* .close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
} */
